<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McDonald's: Burgers, Fries & More. Quality Ingredients.</title>
</head>
<!-- {% static '/images/1.png' %} -->

<body>
    <table width="960" cellpadding="0" cellspacing="0" border="0" align="center">
        <!-- header start -->
        <tr>
            <td width="960" height="70" bgcolor="#FFFFFF">
                <table width="960" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="20" height="70"></td>
                        <td width="180" height="70">
                            <img src="{% static '/images/logo.png' %}" alt=""
                                style="vertical-align: middle; width: 100%;">
                        </td>
                        <td width="20" height="70"></td>
                        <td width="180" height="70">
                            <a href="#"
                                style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center; font-weight:bold">Our
                                whole
                                Menu</a>
                        </td>
                        <td width="180" height="70">
                            <a href="#"
                                style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center;font-weight:bold">
                                About Our Food</a>
                        </td>
                        <td width="180" height="70">
                            <a href="#"
                                style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center;font-weight:bold">Exclusive
                                Deals</a>
                        </td>
                        <td width="180" height="70">
                            <a href="#"
                                style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center;font-weight:bold">
                                Download App</a>
                        </td>
                        <td width="20" height="70"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <!-- header Stop -->

        <!-- banner start -->
        <tr>
            <td width="960" height="400">
                <img src="{% static '/images/banner.jpg' %}" alt=""
                    style="width: 100%; vertical-align: middle; height: 400px;">
            </td>
        </tr>
        <!-- banner end -->

        <!-- About start -->
        <tr>
            <td width="960" height="500" bgcolor="#fff">
                <table width="960" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="960" height="50"></td>
                    </tr>


                    <tr>
                        <td width="960" height="400">
                            <table width="960" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td width="10" height="400"></td>
                                    <td width="500" height="400">
                                        <h2
                                            style="  color: #000000; font-size: 32px; font-family: sans-serif; margin-bottom: 10px; text-align: left; text-transform: capitalize;">
                                            Get the BTS Meal, plus $0 Delivery Fee on Uber Eats*</h2>
                                        <h6
                                            style="color: #000; font-size: 16px; font-family: sans-serif; text-align: left; line-height: 1.6; font-weight: 700; margin-bottom: 10px;">
                                            Take a bite and you’ll find out what CrispyJuicyTender means. Whether it’s
                                            Crispy, Spicy or Deluxe, there’s a new sandwich for everyone.</>
                                            <p
                                                style="color: #000; font-size: 16px; font-family: sans-serif; text-align: left; line-height: 1.6; font-weight: 500; margin-bottom: 10px;">
                                                The BTS Meal has dropped at McDonald’s. 10 piece Chicken McNuggets®, two
                                                limited-time sauces picked by BTS, Fries and a drink. Get $0 Delivery
                                                Fee
                                                when you make a $20 McDelivery® order on Uber Eats from May 26th through
                                                June 1st.</p>
                                            <a href="#"
                                                style="color: #000000; font-size: 16px; font-family: sans-serif; display: inline-block; margin-top: 10px; padding: 10px 50px; background: #FFBC0D; text-decoration: none; border-radius: 5px; margin-left:  180px;">Order
                                                Now</a>
                                    </td>
                                    <td width="10" height="400"></td>
                                    <td width="440" height="400">
                                        <img src="{% static '/images/main.png' %}" alt=""
                                            style="vertical-align: middle; width: 100%; height: 400px;">
                                    </td>
                                </tr>

                            </table>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- About Stop -->




        <!-- Service start -->
        <tr>
            <td width="960" height="650" bgcolor="#fff">
                <table width="960" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="960" height="50"></td>
                    </tr>
                    <tr>
                        <td width="960" height="150">
                            <h2
                                style="color: #111; font-size: 40px; font-family: sans-serif; margin-bottom: 10px; text-align: center; text-transform: capitalize;">
                                Our Deals</h2>
                            <p
                                style="color: #111; font-size: 16px; font-family: sans-serif; text-align: center; line-height: 1.6; font-weight: 500; margin-bottom: 50px;">
                                New deals. Every day. Shop our Deal of the Day, Lightning Deals <br>and more daily deals
                                and
                                limited-time sales. Let the deals come to you by receiving </p>
                        </td>
                    </tr>
                    <tr>
                        <td width="960" height="400">
                            <table width="960" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    <td width="10" height="400"></td>
                                    <td width="307" height="400" bgcolor="#fff" style="border-radius: 10px;">
                                        <img src="{% static '/images/1.jpg' %}" alt=""
                                            style="width: 100%; height: 150px; vertical-align: middle; margin-bottom: 31px; border-radius: 10px 10px 0px 0px;">
                                        <h3
                                            style="color: #000; font-size: 24px; font-family: sans-serif; margin-bottom: 10px; text-align: center; text-transform: capitalize;">
                                            Free Fries on Fry Day</h3>
                                        <p
                                            style="color: #000; font-size: 14px; font-family: sans-serif; text-align: center; line-height: 1.6; font-weight: 600; margin-bottom: 30px;">
                                            Get free medium Fries every Friday, exclusively via Mobile Order & Pay with
                                            any $1 purchase.*
                                        </p>
                                        <a href="#"
                                            style="color: #000000; font-size: 16px; font-family: sans-serif; display:block; padding: 10px 50px; background: #FFBC0D; text-decoration: none; border-radius: 5px; text-align:center; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">Use
                                            the App to Order</a>
                                    </td>
                                    <td width="10" height="400"></td>
                                    <td width="307" height="400" bgcolor="#fff" style="border-radius: 10px;">
                                        <img src="{% static '/images/2.jpg' %}" alt=""
                                            style="width: 100%; height: 150px; vertical-align: middle; margin-bottom: 31px; border-radius: 10px 10px 0px 0px;">
                                        <h3
                                            style="color: #000; font-size: 24px; font-family: sans-serif; margin-bottom: 10px; text-align: center; text-transform: capitalize;">
                                            Not a Morning Person?</h3>
                                        <p
                                            style="color: #000; font-size: 14px; font-family: sans-serif; text-align: center; line-height: 1.6; font-weight: 600; margin-bottom: 30px;">
                                            Skip the awkward pre-coffee talk with Mobile Order & Pay and Curbside
                                            pickup.* Only in our App.*</p>
                                        <a href="#"
                                            style="color: #000000; font-size: 16px; font-family: sans-serif; display:block; padding: 10px 50px; background: #FFBC0D; text-decoration: none; border-radius: 5px; text-align:center; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">Order
                                            Breakfast </a>
                                    </td>
                                    <td width="10" height="400"></td>
                                    <td width="307" height="400" bgcolor="#fff" style="border-radius: 10px;">
                                        <img src="{% static '/images/3.jpg' %}" alt=""
                                            style="width: 100%; height: 150px; vertical-align: middle; margin-bottom: 31px; border-radius: 10px 10px 0px 0px;">
                                        <h3
                                            style="color: #000; font-size: 24px; font-family: sans-serif; margin-bottom: 10px; text-align: center; text-transform: capitalize;">
                                            McCafé® Rewards</h3>
                                        <p
                                            style="color: #000; font-size: 14px; font-family: sans-serif; text-align: center; line-height: 1.6; font-weight: 600; margin-bottom: 30px;">
                                            Get a free McCafé® drink when you buy 5. Only in our App.* Only in our App.*
                                            Only in our App.*</p>
                                        <a href="#"
                                            style="color: #000000; font-size: 16px; font-family: sans-serif; display:block; padding: 10px 50px; background: #FFBC0D; text-decoration: none; border-radius: 5px; text-align:center; margin-bottom: 20px; margin-left: 20px; margin-right: 20px;">Learn
                                            More </a>
                                    </td>
                                    <td width="10" height="400"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>

            </td>
        </tr>

        <!-- Service Stop -->



        <tr>
            <td width="960" height="650" bgcolor="#fff">
                <table width="960" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td width="960" height="50"></td>
                    </tr>
                    <tr>
                        <td width="960" height="150">
                            <h2
                                style="color: #111; font-size: 40px; font-family: sans-serif; margin-bottom: 10px; text-align: center; text-transform: capitalize;">
                                Download App</h2>
                            <p
                                style="color: #111; font-size: 16px; font-family: sans-serif; text-align: center; line-height: 1.6; font-weight: 500; margin-bottom: 50px;">
                                Download All Files is a powerful download manager. It helps <br>you download files
                                quickly and reliably to your Android device. It is free and easy to use. </p>
                        </td>
                    <tr>
                        <td width="960" height="400">
                            <img src="{% static '/images/app.jpg' %}" alt=""
                                style="width: 100%; vertical-align: middle; height: 400px;">
                        </td>
                    </tr>
        </tr>
    </table>
    </td>
    </tr>



    <!-- header start -->

    <tr>
        <td width="960" height="650" bgcolor="#fff">
            <table width="960" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td width="960" height="50"></td>
                </tr>
                <tr>
                    <td width="960" height="150">
                        <h2
                            style="color: #111; font-size: 40px; font-family: sans-serif; margin-bottom: 10px; text-align: center; text-transform: capitalize;">
                            Our location</h2>
                    </td>
                <tr>
                    <td width="960" height="400">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423283.43554840545!2d-118.691914201831!3d34.020730498205786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20CA%2C%20USA!5e0!3m2!1sen!2sbd!4v1622063028773!5m2!1sen!2sbd"
                            width="960" height="440" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </td>
                </tr>
    </tr>
    </table>
    </td>
    </tr>
    <!-- header Stop -->

    <tr>
        <td width="960" height="70" bgcolor="#FFFFFF">
            <table width="960" cellpadding="0" cellspacing="0" border="0" align="center">

                <tr>

                    <td width="20" height="100">

                    </td>
                    <td width="180" height="100">
                        <a href="#"
                            style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center; ">Our
                            Privacy (Updated)</a>
                    </td>
                    <td width="20" height="100"></td>
                    <td width="180" height="100">
                        <a href="#"
                            style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center; ">Terms
                            & Conditions</a>
                    </td>
                    <td width="180" height="100">
                        <a href="#"
                            style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center;">
                            Accessibility </a>
                    </td>
                    <td width="180" height="100">
                        <a href="#"
                            style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center;">Cookie
                            Settings</a>
                    </td>
                    <td width="180" height="100">
                        <a href="#"
                            style="text-decoration: none; color: #000; font-size: 18px; font-family: sans-serif; text-align: center;">
                            Download App</a>
                    </td>
                    <td width="20" height="100"></td>
                </tr>
            </table>
        </td>
    </tr>






    </table>
</body>











<!-- header start -->
<!-- header Stop -->

</html>